<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>OPtimise</title>
    <link rel="stylesheet" href="/static/login/style.css">
    <link rel="icon" href="/static/assets/icon.png">
</head>

<body>
    <!-- barre latérale gauche -->

    <div class="login_body">
        <div class="topmessage">
            <img src="/static/assets/icon.png" alt="icone">
            <p>Connectez-vous à OPtimise ci-dessous !</p>
        </div>
        <div class="blank"></div>
        <div class="center">
            <div class="slim">
                <form action="/login" method="POST">
                    <div class="form_entry">
                        <label for="Name">Votre nom ou pseudonyme :</label>
                        <input type="text" id="Name" placeholder="Votre nom ou pseudonyme" name="name">
                    </div>
                    <div class="form_entry">
                        <label for="Password">Votre mot de passe :</label>
                        <input type="password" id="Password" placeholder="Votre mot de passe" name="password">
                    </div>
                    <div class="form_entry">
                        <input type="submit" value="Connection !">
                    </div>
                </form>

                <!-- errmsg -->
            </div>
        </div>
    </div>
</body>
</html>
