<div class="blank"></div>

<div class="post">
    <div class="post_banner">
        <div class="post_info">
            <span class="product_firm">Review de '<!-- product -->', de '<!-- firm -->' :</span>
            <span class="author_date">par <!-- author -->, le <!-- date --></span>
        </div>
        <div class="star_notation">
            <!-- star notation here -->
        </div>
        <div class="dropdown">
            <button onclick="drop(<!-- postid -->)" class="drop_button">
                <img src="/static/blog/assets/hamburger.png" alt="hamburger.png">
            </button>
            <div id="hamburger-<!-- postid -->" class="dropdown_content">
                <form>
                    <button formaction="/blog" type="submit" name="action" value="reply-<!-- postid -->" formmethod="POST">Commenter</button>
                    <button formaction="/blog" type="submit" name="action" value="report-<!-- postid -->" formmethod="POST">Signaler</button>
                    <button formaction="/blog" type="submit" name="action" value="delete-<!-- postid -->" formmethod="POST">Supprimer</button>
                </form>
            </div>
        </div>
    </div>
    <p class="post_content"><!-- content --></p>
</div>

<div class="small_blank"></div>

<a class="<!-- replies button class -->" href="/blog/thread/<!-- postid -->">Voir les <!-- repliescount --> réponses</a>
